body{
    font-family: monospace, sans-serif;
    background-color: black;
    color: aliceblue;
}
header{
    display: flex;
    justify-content: space-around;
}
h1{
    display: flex;
    width: 1500px;
    align-items: center;
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    margin-left: 10px;
}
h3{
    
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-top: 50px;
    border-bottom: 2px solid white;
}

.mifoto{
    display: block;
    margin: auto;
    border-radius: 50px 0px ;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}
.ul-icons{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
}
.about-me{
    width: 70%;
    margin: auto;
}
li{
    display: inline-block; 
}
p{
    text-align: center;
}
a{
    text-decoration: none;
    
}
a, li:visited{
    color: white;
}
footer{
    text-align: center;
    margin-top: 100%;
}
