body{
    font-family: monospace, sans-serif;
    background-color: black;
    color: aliceblue;
}
h1{
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}
h2{
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    font-size: 20px;
}
h3{
    text-align: center;
    margin-top: 50px;
}
.mifoto{
    display: block;
    margin: auto;
    border-radius: 50px 0px ;
}
li{
    display: inline-block;
    
    
    
}
